html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(228, 248, 78);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(185, 181, 208);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(159, 179, 207);
    min-height: 150px;

    
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.table {
    border: solid 1px black;
}
.footer {
    background-color: rgb(233, 207, 232);
    min-height: 150px;
}